


    


    




    *#dm *.dmBody a.span.textonly
{
	color:rgb(255, 255, 255) !important;
}
*#dm *.dmBody a.span.textonly
{
	color:rgb(255, 255, 255) !important;
}
*#dm *.dmBody div.u_1694205906
{
	background-color:rgba(0, 0, 0, 0) !important;
}
*#dm *.dmBody div.dmPopupInner
{
	background-color:rgb(255, 255, 255) !important;
	border-style:solid !important;
	border-width:0px !important;
	-webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.30) !important;
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.30) !important;
	-moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.30) !important;
	border-radius:10px !important;
	-moz-border-radius:10px !important;
	-webkit-border-radius:10px !important;
	background-image:none !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-position:top right !important;
}
*#dm *.dmBody div.u_dm_content
{
	background-image:none !important;
}
*#dm *.dmBody div.u_1364864902
{
	line-height:normal !important;
	font-family:roboto !important;
}
*#dm *.dmBody nav.u_1200155555
{
	color:black !important;
}



    *#dm *.dmBody div.u_dm_content {
 padding-top: 20px !important;
 padding-bottom: 20px !important;
 padding-left: 20px !important;
 padding-right: 20px !important;
 }
*#dm *.dmBody div.u_1694205906 {
 padding-top: 0px !important;
 padding-left: 0px !important;
 padding-bottom: 0px !important;
 float: none !important;
 margin-right: auto !important;
 margin-left: auto !important;
 top: auto !important;
 max-width: none !important;
 left: 0 !important;
 width: 100% !important;
 margin-top: 0px !important;
 position: relative !important;
 margin-bottom: 0px !important;
 padding-right: 0 !important;
 min-width: 0 !important;
 text-align: center !important;
 height: auto !important;
 }
*#dm *.dmBody div.u_1364864902 {
  }



        
    

    
	
	/* branding colors definition */
	:root {  --button-color: #F66035;   --button-hover-color:
#F86F4C;   --text-on-light: #F66035;  
--text-on-dark: #F66035;   --text-on-button: #FFF;   --header-color: #313131;   --header-border-color:
#222222;   --header-text-color: #ffffff;  }

