<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Device, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
	<httpCookies requireSSL="true" httpOnlyCookies="true" />
	<authentication mode="Forms">
		<forms requireSSL="true">
			<!-- forms content -->
		</forms>
	</authentication>


  </system.web>
    <system.webServer>
		
        <rewrite>
            <rules>
                <rule name="Rename Pixel" patternSyntax="Wildcard" stopProcessing="false">
                    <match url="*cleardot.gif" />
                    <action type="Rewrite" url="default.aspx" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="Rename Pixel2" patternSyntax="Wildcard" stopProcessing="false">
                    <match url="*SMART.gif" />
                    <action type="Rewrite" url="default.aspx" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="Rename Pixel3" patternSyntax="Wildcard" stopProcessing="false">
                    <match url="*SMART.jpg" />
                    <action type="Rewrite" url="default.aspx" appendQueryString="false" logRewrittenUrl="true" />
                </rule>

                <rule name="HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
                <rule name="Unsub Redirect" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="https://smart-pixl.com/Unsub/Unsub.html" />
                    <action type="Redirect" url="https://smartpixl.com/Unsub/Unsub.html" appendQueryString="true" />
                </rule>
            </rules>
			
			<outboundRules>
				<rule name="Use only secure cookies" preCondition="Unsecured cookie">
					<match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
						<action type="Rewrite" value="{R:0}; secure" />
				</rule>
				<preConditions>
					<preCondition name="Unsecured cookie">
						<add input="{RESPONSE_SET_COOKIE}" pattern="." />
						<add input="{RESPONSE_SET_COOKIE}" pattern="; secure" negate="true" />
					</preCondition>
				</preConditions>
			</outboundRules>

			
        </rewrite>        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.asp" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <httpErrors errorMode="Detailed" />


 


    </system.webServer>

</configuration>
