


    


    




    *#dm *.dmBody a.u_1765831374
{
	background-color:rgba(0,0,0,1) !important;
}
*#dm *.dmBody a.u_1765831374 span.text
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody nav.u_1200155555
{
	color:black !important;
}



    


        
    

    
	
	/* branding colors definition */
	:root {  --button-color: #F66035;   --button-hover-color:
#F86F4C;   --text-on-light: #F66035;  
--text-on-dark: #F66035;   --text-on-button: #FFF;   --header-color: #313131;   --header-border-color:
#222222;   --header-text-color: #ffffff;  }

